{% extends 'base.html' %}
{% load static %}


{% comment %}
This template uses a variable named 'list' referring to a single todo list 
{% endcomment %}

{% block content %}
  <div class="container">
		{% include 'parts/ordering-form.html' %}
		<hr>
    
    {% for list in lists %}
    <div class="row justify-content-center">
      <div class="col-lg-8 col-mid-8 col-sm-10">
        {% include 'parts/todo-item.html' %}
      </div>
    </div>
    {% endfor %}
  </div>
  <a href="{% url 'todos-new' %}">
    <i id="plus-icon" class="fas fa-plus-circle"></i></div>
  </a>
  
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  
{% endblock %}
